<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/public/style.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,300italic,700,700italic">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/milligram/1.4.1/milligram.css">
    <title>Dad's Simple Kitchen</title>
</head>
<body>
    <h1>Dad's Simple Kitchen</h1>
    <br>
    <p>Welcome to Dad's Simple Kitchen. A place for anyone who wants simple yet elegant meals that don't take longer than 1 hour tops. Leaving more time for everything else important in life like family, beer, video games and sports.</p>
    <br>
    <p>Here you can browse and keep a collection of recipes that will require little time to prep and make all while still keeping quality taste.</p>
    <br>
    <button class="button button-outline"><a href="/recipe">Enter</a></button>
</body>
</html>