<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Notes from the Kitchen</title>
</head>
<body>
   <h1>Collection</h1> 

   <p><a href="/recipe/new">Add new recipe</a></p>

   <% for (let i = 0; i < allRecipes.length; i++) { %>
    <li>
        <a href="/recipe/<%= i %>">
            <%= allRecipes[i].name %>
        </a>
    </li>

   <% } %>
</body>
</html>