<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/public/style.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,300italic,700,700italic">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/milligram/1.4.1/milligram.css">
    <title>Add a new recipe</title>
</head>
<body>
    <div class="row">
        <h2>Add a new recipe</h2>
    <form action="/recipe" method="POST">
        <label for="name">Name:</label>
        <input type="text" name="name" id="name">
        <label for="ingredients">Ingredients:</label>
        <input type="text" name="ingredients" id="ingredients">
        <label for="directions">Directions:</label>
        <input type="text" name="directions" id="directions">
        <label for="image">Image:</label>
        <input type="text" name="image" id="image">
        <input type="submit" value="Add Recipe">
    </form>
    </div>
    <br>
    <button class="button button-outline"><a href="/recipe">Back to Collection</a></button>
</body>
</html>